
@import url(http://fonts.googleapis.com/earlyaccess/tharlon.css);
@import url('http://mmwebfonts.comquas.com/fonts/?font=zawgyi');
:lang(my){
    font-family: Tharlon,Padauk,Myanmar3, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size-adjust: 0.55;
    line-height: 130%;
}

:lang(my) .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}